<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETSEATGO | Movie Panel</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/adminpage.css">
</head>

<body>
  <!-- LOGO -->
  <div class="navbar container-fluid mt-4">
    <a href="/admin" class="navbar-brand"><img src="/images/logos.png">
    </a>
    <% if (currentUser) { %>
    <h2 class="navbar-text ml-auto mr-5">Welcome <%- currentUser.email %></h2>
    <% } %>
    <a href="/admin/logout" class="btn btn-primary mr-6">Logout</a>
  </div>
  <br>
  <!-- PILLS -->
  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link " href="/admin/movies">MOVIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">USERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/schedules">Schedules</a>
      </li>
    </ul>
    <br>
  </div>
  <!-- Movies -->
  <!-- MOVIES PILL -->

  <div class="container">
    <!-- TABLE -->
    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Manage Movies<h2>
            </div>
            <div class="col-sm-6">
              <form autocomplete="off" class="form-row" action="/admin/movies" method="get">
                <div class="for-item align-middle">
                  <label for="title">Search Title: </label>
                  <input class="search-title" type="text" name="title" value="<%= search.title %>">
                </div>
                <div class="form-row form-row-end">
                  <button class="btn btn-success mx-3" type="submit">Search</button>
                </div>
                <a href=" #addScheduleModal" class="btn btn-success ml-2" data-movies=<%- movies %>
                  data-toggle="modal"><span>Add
                    Schedule</span></a>
              </form>
              <!-- <a href="#deleteMovieModal" class="btn btn-danger" data-toggle="modal"><span>Delete Movie</span></a> -->
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <!-- <th></th> -->
              <th>Movie ID</th>
              <th>Date & Time</th>
              <th>Cinema #</th>
              <!-- <th>Image Link</th>
                <th>Trailer Link</th> -->
            </tr>
          </thead>
          <tbody>
            <% if (schedules) { %>
            <% schedules.forEach(schedule =>{ %>
            <tr>
              <td><%=schedule.movieId%></td>
              <td><%=schedule.dateTime.toLocaleString()%></td>
              <td><%=schedule.cinema%></td>

              <td>
                <a href="#editMovieModal" class="btn btn-warning" data-toggle="modal"><span>View</span></a>
                <a href="#editScheduleModal" class="btn btn-warning" data-id="<%- schedule._id %>"
                  data-movie="<%- schedule.movieId %>" data-cinema="<%- schedule.cinema %>"
                  data-date="<%- schedule.dateTime %>" data-toggle="modal"><span>Edit</span></a>
                <a href="#deleteScheduleModal" class="btn btn-danger" data-id="<%- schedule._id %>"
                  data-toggle="modal"><span>Delete</span></a>
              </td>
            </tr>
            <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- ADD Schedule MODAL -->
    <div id="addScheduleModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form autocomplete="off" id="add-form">
            <div class="modal-header">
              <h4 class="modal-title">Add Schedule</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="movie">Movie ID</label>
                <input name="movie" id="movie" type="text" list="brow" class="form-control" required>

                <datalist id="brow">
                  <% movies.forEach(movie =>{ %>
                  <option value="<%- movie._id %>"><%- movie.title %></option>
                  <% }) %>
                </datalist>

                <div class="movie error"></div>
              </div>
              <div class="form-group">
                <label for="cinema">Cinema : </label>
                <select name="cinema" id="cinema" required>
                  <option value="1">Cinema 1</option>
                  <option value="2">Cinema 2</option>
                  <option value="3">Cinema 3</option>
                  <option value="4">Cinema 4</option>
                  <option value="5">Cinema 5</option>
                </select>
                <div class="cinema error"></div>
              </div>
              <div class="form-group">
                <label for="date">Date : </label>
                <input type="datetime-local" id="date" name="date" required>
                <div class="date error"></div>
              </div>
              <div class="form-group">

              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-info" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- EDIT SCHEDULE MODAL    -->
    <div id="editScheduleModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form autocomplete="off" id="edit-form">
            <div class="modal-header">
              <h4 class="modal-title">Add Schedule</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="movie">Movie ID</label>
                <input name="movie" id="movie" type="text" list="brow" class="form-control" required>

                <datalist id="brow">
                  <% movies.forEach(movie =>{ %>
                  <option value="<%- movie._id %>"><%- movie.title %></option>
                  <% }) %>
                </datalist>

                <div class="movie error"></div>
              </div>
              <div class="form-group">
                <label for="cinema">Cinema : </label>
                <select name="cinema" id="cinema" required>
                  <option value="1">Cinema 1</option>
                  <option value="2">Cinema 2</option>
                  <option value="3">Cinema 3</option>
                  <option value="4">Cinema 4</option>
                  <option value="5">Cinema 5</option>
                </select>
                <div class="cinema error"></div>
              </div>
              <div class="form-group">
                <label for="date">Date : </label>
                <input type="datetime-local" id="date" name="date" required>
                <div class="date error"></div>
              </div>
              <div class="form-group">

              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-info" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteScheduleModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="delete-form">
            <div class="modal-header">
              <h4 class="modal-title">Delete Schedule</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this Schedule?</p>
              <p class="text-danger"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- OTHERS PILL -->
    <div id="other" class="container tab-pane fade"><br>
      <div class="container">
        <div class="row">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1>In Progress</h1>
              <p>You haven't unlock this part yet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- FOOTER -->
  <footer>
    <div class="footer-container text-center">
      <p>Getseatgo &copy; All Rights Reserved 2020</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>

    $('#addScheduleModal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget) // Button that triggered the modal
      let id = button.data('id') // Extract info from data-* attributes

      // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      let modal = $(this)
      modal.find('.modal-title').text('Add Schedule')


      const form = document.querySelector('#add-form')
      const movieError = document.querySelector('.movie.error')
      const cinemaError = document.querySelector('.cinema.error')
      const dateError = document.querySelector('.date.error')

      form.addEventListener('submit', async (e) => {
        e.preventDefault();


        const movieId = form.movie.value
        const cinema = form.cinema.value
        const dateTime = form.date.value



        try {
          const res = await fetch('/admin/schedules', {
            method: 'POST',
            body: JSON.stringify({ movieId, cinema, dateTime }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()
          console.log(data)

          if (data.schedule) {
            location.assign('/admin/schedules')
          }

          if (data.errors) {
            movieError.textContent = data.errors.movieId
            dateError.textContent = data.errors.dateTime
            cinemaError.textContent = data.errors.cinema
          }


        } catch (error) {
          location.assign('/admin')
        }

      })
    })

    $('#editScheduleModal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget) // Button that triggered the modal
      let id = button.data('id') // Extract info from data-* attributes
      let movieId = button.data('movie') // Extract info from data-* attributes
      let cinema = button.data('cinema') // Extract info from data-* attributes
      let dateTime = button.data('date') // Extract info from data-* attributes


      let modal = $(this)
      modal.find('.modal-title').text('Edit ')
      modal.find('#movie').val(movieId)
      modal.find('#cinema').val(cinema)
      let date = new Date(dateTime)
      date = "" + date.toISOString()
      date = date.slice(0, 16)
      modal.find('#date').val(date)


      const form = document.querySelector('#edit-form')
      const titleError = document.querySelector('.edit.title.error')

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const movieId = form.movie.value
        const cinema = form.cinema.value
        const dateTime = form.date.value
        console.log(movieId, cinema, dateTime)


        try {
          const res = await fetch('/admin/schedules/' + id, {
            method: 'put',
            body: JSON.stringify({ movieId, cinema, dateTime }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()

          if (data.schedule) {
            location.assign('/admin/schedules')
          }

          if (data.errors) {
            movieError.textContent = data.errors.movieId
            dateError.textContent = data.errors.dateTime
            cinemaError.textContent = data.errors.cinema
          }


        } catch (error) {
          console.log(error)
        }

      })
    })


    $('#deleteScheduleModal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget) // Button that triggered the modal
      let id = button.data('id') // Extract info from data-* attributes

      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      let modal = $(this)

      const form = document.querySelector('#delete-form')
      console.log(form)

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        try {

          const res = await fetch(`/admin/schedules/` + id, {
            method: 'delete',
          })
          const data = await res.json()

          if (data.successful) {
            location.assign('/admin/schedules')
          }
        } catch (error) {
          location.assign('/admin/schedules')
        }


      })

    })

  </script>
</body>

</html>