<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% if (currentUser) { %>
    <h2 class="navbar-text ml-auto mr-5">Welcome <%- currentUser.email %>
    </h2>
    <a href="/logout" class="btn btn-primary mr-6">Logout</a>
    <% } %>
      <h1>
        <%- movie.title %>
      </h1>
      <p>
        <%- movie.description %>
      </p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%- movie.trailerUrl %>" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

      <form id="schedule-form">
        <label for="schedule">Select Schedule</label>
        <select name="schedule" id="schedule">
          <% schedules.forEach(sched=> { let date=new Date(sched.dateTime); date="" + date.toISOString();
            date=date.slice(0, 16)%>



            <option value="<%= sched._id %> ">Cinema <%- sched.cinema %> -
                <%- sched.dateTime.toLocaleString('en-PH', {timeStyle:'medium',dateStyle:'medium' }) %>
            </option>
            <% }) %>

        </select>
        <button type="submit">Submit</button>
      </form>

      <script>
        const form = document.querySelector('#schedule-form')
        form.addEventListener('submit', (e) => {
          e.preventDefault();
          console.log(form.schedule.value)
          location.assign(`/buy/${form.schedule.value}`)
        })
      </script>
</body>


</html>