<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/ticket.css">
</head>

<body background="/images/curtain.jpg">
  <!-- TICKET -->
  <img src="/images/logos.png" class="center">
  <h4> Thank you for booking via GETSEATGO.</h4>
  <h5>Skip the lines and go straight to the cinema door to present your e-ticket!
    No need to print or queue at the ticket counter.</h5>
  <div class="card" style="width: 250px">
    <img class="card-img-top"
      src="https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg"
      alt="SPIDER-MAN: INTO THE SPIDER-VERSE" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">
        <%= movie.title %>
      </h4>
      <p class="card-text" margin="0">Cinema: <span class="black">
          <%= schedule.cinema %>
        </span>
      </p>
      <p class="card-text">Date & Time: <span class="black">
          <%= date %>
        </span>
      </p>
      <p class="card-text">Seat(s): <span class="black">
          <%= order.seats.join(', ') %> </span></p>
      <p class="card-text">Seat Quantity: <span class="black"><%= order.seats.length %></span></p>
      <p class="card-text">Ticket Price: <span class="black"><%=  schedule.price %></span> </p>
      <p class="card-text">Total: <span class="black"><%= order.seats.length * schedule.price %></span></p>
    </div>
  </div>
  <br>
  <h5>THIS WILL SERVE AS YOUR OFICIAL TICKET</h5>
  <h5>TAKE A SCREENSHOT OR CHECK YOUR EMAIL</h5>
  <br>

</body>

</html>